<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  .error {
    color: red;
  }
#doctorTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#doctorTable td, #doctorTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#doctorTable tr:nth-child(even){background-color: #f2f2f2;}

#doctorTable tr:hover {background-color: #ddd;}

#doctorTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
#paginaPrincipale {
margin-left: 30px;
}
</style>
<body>
<div class="doctorlist">

  <h2>Medici della struttura</h2>
<!--Tabella dottori della struttura-->
  <div th:if="${doctors.size() > 0}">
  <table id="doctorTable">
    <thead>
    <tr>
      <th scope="col">Cognome Nome</th>
      <th scope="col">Agenda di oggi</th>
      <th scope="col">Interno</th>
    </tr>
    </thead>
    <tr th:each="doctor : ${doctors}">
      <td th:text="${doctor.surname + ' ' + doctor.name}">Doctor's Surname and Name</td>
      <td><a th:href="@{'agenda/DoctorAgenda/' + ${doctor.id}}" th:fileName="${doctor.id}" id="btnCheck"
             title="Show Agenda">Elenco</a>
      </td>
      <td th:text="${doctor.telephone}"> Medical Room's telephone </td>
    </tr>
  </table>
</div>
</div>
<!--    Messaggio se nessun medico è registrato a sistema per il paziente loggato.-->
<div th:unless="${doctors.size() > 0}">
  <span>Non ci sono medici per questa struttura.</span>
</div>
<!--    link di ritorno alla pagina principale-->
<div id="paginaPrincipale">
  <p>Torna alla pagina principale da <a href="/index">qui</a>.</p>
</div>
</body>
</html>