<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <style>
        .dot1, .dot2, .dot3 {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }
        h1 {
            text-align: center;
        }
        input {
            margin-top: 10px;
        }
        .submit_btn {
            padding: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Login page</h1>
    <div style="text-align:center">
        <span class="dot1" style="background-color: #ADD8E6"></span>
        <span class="dot2" style="background-color: #FAFAD2"></span>
        <span class="dot3" style="background-color: #D3D3D3"></span>

        <p th:if="${param.error}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <div class = "login_form">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br />
                <input type="submit" class="submit_btn" value="Login" />
            </div>
        </form>
    </div>
</body>
</html>