<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Message Board</title>
</head>
<style>
  .error {
    color: red;
  }
</style>
<body>
<h1>Qui di seguito i messaggi non ancora letti: </h1>
<div th:if="${messages.size() > 0}">
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Sender</th>
      <th scope="col">Message</th>
      <th scope="col">Segna come letto</th>
      <th scope="col"> /// </th>
      <th scope="col">Rispondi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
      <td>[[${message.sendingDate}]]</td>
      <td>[[${message.sender.surname}]] [[${message.sender.name}]]</td>
      <td>[[${message.messageBody}]]</td>
      <td>
        <form th:method="PUT" th:action="|/doctor/message/checkLikeRead/*{message.id}|">
          <input type="submit" value="CheckLikeRead">
        </form>
      </td>
      <td></td>
      <td>
        <form th:method="POST" th:action="|/doctor/message/sendAMessageTo/*{message.id}|">
          <label for="messageBody">Body</label>:
          <input type="text" id="messageBody" name="messageBody" autofocus="autofocus" />
          <input type="submit" value="Answ">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div    class="error"
        th:if="${errorMessages != null}"
        th:each="errorMessage : ${errorMessages}"
        role="alert">
  ERRORE:
  [[${errorMessage}]]
</div>
<br>
<div
        th:if="${messageAlert != null}"
        class="alert"
        role="alert">
  [[${messageAlert}]]
</div>
<div th:unless="${messages.size() > 0}">
  <span>Nessun messaggio trovato</span>
</div>
<div>
    <p>Torna alla pagina principale da <a href="/index">qui</a>.</p>
</div>
</body>
</html>